<!DOCTYPE HTML>
<html>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:20:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="Baolau">
    
    <title>Train Ticket Online VN | Confirmation</title>
    <meta name="description" content="Information and ticket booking service for travelling in China, Vietnam, Cambodia, Laos, Thailand, Myanmar, Malaysia, Philippines and Indonesia. Find schedules and fares, book flights, trains, buses and ferries."/>
    <meta name="keywords" content="flights, cheap flights, flights to hanoi, flights to bangkok, flights to saigon, book train ticket, book train ticket online, train to sapa, train to hanoi, train to saigon, train to bangkok, train to chiang mai, bus ticket, book bus ticket online, buy bus ticket online, bus ticket to hanoi, bus ticket to saigon"/>
    
    <base target="_top">


	<!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../vendor/lightgallery/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="../dist/baolau.min6ffc.css">

    <!-- jQuery -->
    <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
</head>

<body style="overflow: hidden;">
<!-- Sidebar Content -->

<%- include('section')%>

<!---------------------------END Mobile Sidebar Content-------------------------------------->
<div id="waiting_overlay" style="display:block;background-color: lightgoldenrodyellow;">
    <div class="container">
        <h2 style="color: #fff; text-transform: uppercase;" id="waiting_text1" class="refrigerator"></h2>
        <span id="waiting_text2" class="big-big-text"></span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../images/genaral/244.gif" style="width:100px">
    </div>
</div>
<div id="menu_overlay"></div>

<div id="main_container" >
<div class="filter">
<div class="global-wrap">
    <%- include('sectionDesktop')%>

<div id="confirmation" class="subpage" id="app">
    <div class="panel-dark">
        <!-- PC progress-bar-holder -->
        <div class="container">
            <div class="gap gap-super-small hidden-sm hidden-xs"></div>
            <div class="progress-bar-holder hidden-sm hidden-xs">
                <ul class="progressbar small-text bold">
                    <li class="active">
                        <span>DEPARTURE</span>
                        <em class="progress-bar-arrow"></em>
                    </li>
                    <%if(typeof(ROUND_TRIP) != "undefined"){%>
                        <li class="active">
                            <span>RETURN</span>
                            <em class="progress-bar-arrow"></em>
                        </li>
                    <%}%>
                    <li class="active">
                        <span>PASSENGER</span>
                        <em class="progress-bar-arrow"></em>
                    </li>
                    <li class="active">
                        <span>PAYMENT</span>
                        <em class="progress-bar-arrow arrow-confirm"></em>
                    </li>
                    <li class="current">
                        <span>CONFIRMATION</span>
                        <em class="progress-bar-arrow"></em>
                    </li>
                </ul>
            </div>
        </div>
        <!-- container -->
        <!-- END PC progress-bar-holder -->

        <!-- MOBILE progress-bar-holder -->
        <div class="container mobile-progressbar visible-xs visible-sm">
            <div class="row booking-progress uppercase">
                <div class="col-xs-2 col-sm-3 small-text">
                    &nbsp;
                </div>

                <div class="col-xs-8 col-sm-6">
                    <div class="current bold">
                        <span>CONFIRMATION</span>
                    </div>
                </div>

                <div style="opacity: 0.3;" class="col-xs-2 col-sm-3 small-text">
                    &nbsp;
                </div>
            </div>
        </div>
        <!-- END MOBILE progress-bar-holder -->

        <div class="container">
            <div>
                <div class="gap gap-section"></div>
                <div class="bs-callout bs-callout-info">
                    <div class="padded-content">
                        <div class="highlight-text">THANK YOU FOR BOOKING WITH US</div>
                    </div>
                </div>

                <!-- Disclaimer payment info -->

                <div class="gap gap-mini"></div>
                <div class="bs-callout bs-callout-info"></div>

                <!-- payment in cash office -->

                <!-- Disclaimer Safe Sender List -->
                <div class="gap gap-mini"></div>

                <!-- Disclaimer Manage booking -->
                <div class="gap gap-mini"></div>
                <div class="bs-callout bs-callout-info">
                    <div class="padded-heading">
                        <div class="bold"><i style="color: #ffbb00;" class="fa fa-file-text"></i>&nbsp;&nbsp;Check booking at any time</div>
                        <div class="italic" style="padding-top: 10px;">
                            <p>
                                You can check your booking at 
                                <a href="/manageBooking" class="external_link" target="_blank">Manage Booking</a>, use code booking and your email to check booking
                                . If you have anything problem or wanna change ticket infomation please email to trainticketonlinevn@gmail.com.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Disclaimer Social media -->
                <div class="gap gap-mini"></div>
            </div>
            <!-- Booking info -->
            <div>
                <div class="gap gap-section"></div>
                <div class="gap gap-title">
                    <h2>YOUR BOOKING</h2>
                    <div class="horizontal-devider hidden-sm hidden-xs"></div>
                </div>

                <div class="panel-light">
                    <div class="padded-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                <span class="bold">CODE BOOKING:</span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
                                <span class="blue-text super-bold"><%=Representative.ID%></span>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px 0;">
                            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                <span class="bold">DATE BOOKING:</span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
                                <span><%=moment(moment()._d).format("DD-MM-YYYY")%></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                <span class="bold">STATUS BOOKING: </span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
                                <span style="color: #81b900;">COMPLETE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap gap-section"></div>

            <!-- Contact_info  -->

            <div class="gap gap-title">
                <h2>Contact Infomation</h2>
                <div class="horizontal-devider hidden-sm hidden-xs"></div>
            </div>

            <div class="panel-light hidden-lg hidden-md">
                <div class="padded-content">
                    <div style="margin-bottom: 10px;" class="row">
                        <div class="col-sm-5 col-xs-5">
                            <span class="bold">FULL NAME: </span>
                        </div>
                        <div class="col-sm-7 col-xs-7">
                            <%=Representative.Name%>
                        </div>
                    </div>

                    <div style="margin-bottom: 10px;" class="row">
                        <div class="col-sm-5 col-xs-5">
                            <span class="bold">EMAIL: </span>
                        </div>
                        <div class="col-sm-7 col-xs-7">
                            <%=Representative.Email%>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-xs-5">
                            <span class="bold">PHONE NUMBER: </span>
                        </div>
                        <div class="col-sm-7 col-xs-7">
                            <%=Representative.Phone%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact_info  -->

            <div class="panel-light hidden-sm hidden-xs">
                <div class="padded-content">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="bold">FULL NAME: </span>
                            <%=Representative.Name%>
                        </div>

                        <div class="col-md-4 text-center">
                            <span class="bold">EMAIL: </span>
                            <%=Representative.Email%>
                        </div>

                        <div class="col-md-4 text-right">
                            <span class="bold">PHONE NUMBER: </span>
                            <%=Representative.Phone%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact_info  -->
            <!-- Ticket Delivery -->

            <!-- Invoice details -->

            <!-- Itinerary  -->
            <div id="tableResult_1">

            </div>
            <div class="gap gap-footer"></div>
        </div>
    </div>
</div>


<!-- FOOTER -->
<%- include('footer')%>
<!-- END FOOTER -->

</div>
<!-- END GLOBAL WRAP -->

</div>
<!-- END FILTER -->

</div>
<!-- END MAIN -->



<!-- WINDOW POPUP -->

<!-- Modals-->


<!-- END WINDOW POPUP -->

    <%- include('scriptCommon',{page:5})%>
    
    
</body>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:32:07 GMT -->
</html>      