<!DOCTYPE HTML>
<html>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:20:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="Baolau">
    
    <title>Search and book flights, trains, buses and ferries in Asia – Baolau</title>
    <meta name="description" content="Information and ticket booking service for travelling in China, Vietnam, Cambodia, Laos, Thailand, Myanmar, Malaysia, Philippines and Indonesia. Find schedules and fares, book flights, trains, buses and ferries."/>
    <meta name="keywords" content="flights, cheap flights, flights to hanoi, flights to bangkok, flights to saigon, book train ticket, book train ticket online, train to sapa, train to hanoi, train to saigon, train to bangkok, train to chiang mai, bus ticket, book bus ticket online, buy bus ticket online, bus ticket to hanoi, bus ticket to saigon"/>
    
    <base target="_top">


	<!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../vendor/lightgallery/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="../dist/baolau.min6ffc.css">
    <link rel="stylesheet" type="text/css" href="../dist/css/DataTables-1.10.21/css/jquery.dataTables.min.css"/>
    <!-- jQuery -->
    <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
</head>

<body>
<!-- Sidebar Content -->

<%- include('section')%>

<!---------------------------END Mobile Sidebar Content-------------------------------------->
<div id="waiting_overlay" style="display:block;background-color: lightgoldenrodyellow;">
    <div class="container">
        <h2 style="color: #fff; text-transform: uppercase;" id="waiting_text1" class="refrigerator"></h2>
        <span id="waiting_text2" class="big-big-text"></span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../images/genaral/244.gif" style="width:100px">
    </div>
</div>
<div id="menu_overlay"></div>

<div id="main_container" >
<div class="filter">
<div class="global-wrap">
    <%- include('sectionDesktop')%>

<div id="app" class="subpage">
    <div class="panel-dark">
        <div class="container">
            <div>
                <div class="gap gap-section"></div>
                <div class="gap gap-mini"></div>
                <div class="bs-callout bs-callout-info"></div>

                <!-- payment in cash office -->

                <!-- Disclaimer Safe Sender List -->
                <div class="gap gap-mini"></div>

                <!-- Disclaimer Manage booking -->
                <div class="gap gap-mini"></div>

                <!-- Disclaimer Social media -->
                <div class="gap gap-mini"></div>
            </div>
        </div>
        <input type="hidden" value="<%=JSON.stringify(result)%>" id="result">
        <input type="hidden" value="<%=JSON.stringify(schedule)%>" id="scheduleParent">
        <div class="container hero-callout" >           
            <div class="dataTables_wrapper">
                <div class="bs-callout bs-callout-info">
                    <div class="padded-content">
                        <div class="highlight-text">SEAT TYPE</div>
                        <div class="btn-group bootstrap-select">
                            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="&amp;nbsp;—&amp;nbsp;">
                                <span class="filter-option pull-left" id="typeSelected">
                                            {{seatType[0].TypeName}}
                                </span>&nbsp;<i class="caret"></i></button>
                                <input type="hidden" id="typeID" v-bind:value="seatType[0].ID">
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner" role="menu">
                                    <li class="hidden is-hidden selected" data-original-index="0">
                                        <a tabindex="0" data-tokens="null">
                                            <div class="checkbox">
                                                <label></label>
                                            </div><span class="checkbox-label"><span class="text">
                                            &nbsp;—&nbsp;                                                </span></span>
                                        </a>
                                    </li>
                                    <li  v-for="(type,index) in seatType" v-bind:data-original-index="index + 1" v-bind:data-index="index + 1" v-on:click="SelectType(type.ID,type.TypeName)"> 
                                        <a tabindex="0" data-tokens="null">
                                            <div class="checkbox">
                                                <label></label>
                                            </div><span class="checkbox-label"><span class="text">
                                                {{type.TypeName}}                                                 
                                        </span></span>
                                        </a>
                                    </li>
                                    <!-- <li> 
                                        <a v-for="Type in seatType">
                                            <div class="checkbox">
                                                <label></label>
                                            </div><span class="checkbox-label"><span class="text">
                                                {{Type.TypeName}}                    
                                        </span></span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
               </div>
               <div class="gap gap-section"></div>
        </div>
        <div class="container hero-callout" >           
            <div class="dataTables_wrapper">
                <div class="bs-callout bs-callout-info">
                    <div class="padded-content">
                        <div class="highlight-text">LIST SCHEDULE DETAIL</div>
                        <table id="table_id">
                            <thead>
                                <tr>
                                    <th>Departure Station</th>
                                    <th>Destination Station</th>
                                    <th>Length (Kilometer)</th>
                                    <th>Date Departure</th>
                                    <th>Start Time</th>
                                    <th>Price (VND)</th>
                                    <th>Number of Passengers</th>
                                    <th></th>
                                </tr>
                            </thead>
                           <template v-if="listScheduleDetail != null && listStation != null">
                            <tbody >                              
                                <tr v-for="(scheduleDetail,index) in listScheduleDetail">
                                    <td>{{StationName(scheduleDetail.DepartureStationID)}}</td>
                                    <td>{{StationName(scheduleDetail.ArrivalStationID)}}</td>
                                    <td>{{scheduleDetail.Length}}</td>
                                    <td>{{GetDateDeparture(scheduleDetail.StartTime, scheduleDetail.DepartureStationID)}}</td>
                                    <td>{{FormatTime(scheduleDetail.StartTime)}}</td>
                                    <td style="font-weight: bolder;">{{JSON.stringify(scheduleDetail.TableCosts[0].Cost).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")}}</td>
                                    <td><input type="number" value="1" min="1" max="5" v-bind:id="'scheduleDetail' + (index + 1)" class="form-control" style="text-align: center;border-color: black;" v-on:click="increasePassager('scheduleDetail' + (index + 1))" @keyup="increasePassager('scheduleDetail' + (index + 1))"></td>
                                    <td>
                                        <a v-bind:href="'/searchSchedule?FROM=' + scheduleDetail.DepartureStationID + '&TO=' + scheduleDetail.ArrivalStationID + '&DEPART='+ GetDateDepartureQuery(scheduleDetail.StartTime, scheduleDetail.DepartureStationID) + '&ONE_WAY=true&PASSENGERS=1'"  v-bind:data-href="'/searchSchedule?FROM=' + scheduleDetail.DepartureStationID + '&TO=' + scheduleDetail.ArrivalStationID + '&DEPART='+ GetDateDepartureQuery(scheduleDetail.StartTime, scheduleDetail.DepartureStationID) + '&ONE_WAY=true&PASSENGERS='" class="form-control btn btn-primary" style="background-color: green;color: white;" id="bookingOnline">Booking Online</a></td>
                                </tr>                                   
                            </tbody>
                           </template>
                        </table>
                    </div>
                </div>
                
               </div>
               <div class="gap gap-section"></div>
        </div>
    </div>
    
</div>


<!-- FOOTER -->
<%- include('footer')%>
<!-- END FOOTER -->

</div>
<!-- END GLOBAL WRAP -->

</div>
<!-- END FILTER -->

</div>
<!-- END MAIN -->



<!-- WINDOW POPUP -->

<!-- Modals-->


<!-- END WINDOW POPUP -->

    <script src="../dist/vue.js"></script>
    <script src="../dist/axios.js"></script>
    <!-- <script src="../dist/myVue5.js"></script>	 -->
    <script type="text/javascript" src="../dist/baolau.min6ffc.js"></script>
    <script type="text/javascript" src="../dist/listScheduleDetailVue.js"></script>
    <script type="text/javascript" src="../dist/js/jquery.dataTables.js"></script>    
    <script>
        window.onunload = () => {
            $("#table_id").DataTable();
        }
    </script>
    <script src="../dist/moment.js"></script>  
</body>
</html>