<!DOCTYPE HTML>
<html>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:20:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="Baolau">
    
    <title>Train Ticket Online VN | Passenger</title>
    <meta name="description" content="Information and ticket booking service for travelling in China, Vietnam, Cambodia, Laos, Thailand, Myanmar, Malaysia, Philippines and Indonesia. Find schedules and fares, book flights, trains, buses and ferries."/>
    <meta name="keywords" content="flights, cheap flights, flights to hanoi, flights to bangkok, flights to saigon, book train ticket, book train ticket online, train to sapa, train to hanoi, train to saigon, train to bangkok, train to chiang mai, bus ticket, book bus ticket online, buy bus ticket online, bus ticket to hanoi, bus ticket to saigon"/>
    
    <base target="_top">


	<!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../vendor/lightgallery/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="../dist/baolau.min6ffc.css">
    <link rel="stylesheet" href="../dist/w3.css">
    <script src="../dist/socket.io.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
    <style>
        html, body {
            font-family: Panton !important;
            line-height: initial !important;
        }
        .pull-left > div {
            margin-right: 9px;
        }
        .pull-right > div {
            margin-left: 9px;
        }
        .ss_train .bed .bed-number {
        bottom: 5px !important;
        left: 1px;
        font-size: 10px;
        color: #fff;
        width: 100%;
        }
    </style>
</head>

<body style="overflow: hidden;" class="fontFamily">
    <input type="hidden" value="<%=JSON.stringify(result.DateDeparture)%>" id="dateDepart">
        <input type="hidden" value="<%=JSON.stringify(result)%>" id="result">
        <%if(typeof(result2) != "undefined"){%>
            <input type="hidden" value="<%=JSON.stringify(result2)%>" id="result2">
        <%}%>
        <input type="hidden" value="<%=passengers%>" id="number">
        <input type="hidden" value="<%=SeatTypeID%>" id="SeatTypeID">
        <input type="hidden" value="<%=FROM%>" id="FROM">
        <input type="hidden" value="<%=TO%>" id="TO">
        <input type="hidden" value="<%=DEPART%>" id="DEPART">
        <input type="hidden" value="<%=ONE_WAY%>" id="ONE_WAY">
        <input type="hidden" value="<%=query%>" id="query">
    

    <div id="modal_message" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="gap gap-super-small"></div>                   
                    <div id="modal_message_title" style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">

                    </div>
                    <div class="gap gap-small"></div>
                    <div id="modal_message_text" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">

                    </div>
                </div><!-- /.modal-content -->
                <div class="gap gap-super-small"></div>
            </div>
        </div>
    </div>

    
<!-- Sidebar Content -->

<%- include('section')%>

<!---------------------------END Mobile Sidebar Content-------------------------------------->
<div id="waiting_overlay" style="display:block;background-color: lightgoldenrodyellow;z-index: 99;">
    <div class="container">
        <h2 style="color: #fff; text-transform: uppercase;" id="waiting_text1" class="refrigerator"></h2>
        <span id="waiting_text2" class="big-big-text"></span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../images/genaral/244.gif" style="width:100px">
    </div>
</div>
<div id="menu_overlay"></div>

<div id="main_container" >
<div class="filter">
<div class="global-wrap">
    <%- include('sectionDesktop')%>

<div class="subpage panel-dark search_result_page" id="app">

    
    <!-- container -->
    <!-- END PC progress-bar-holder -->

    <!-- MOBILE progress-bar-holder -->
    <div class="container mobile-progressbar visible-xs visible-sm">
        <div class="row booking-progress uppercase">
            <div class="col-xs-2 col-sm-3 small-text">
                &nbsp; </div>
                <%if(typeof(result2)!="undefined"){%>
                    <input hidden type="text" value="2" id="indexIti">
                <%}%>
                <input hidden type="text" value="1" id="indexIti">
            <div class="col-xs-8 col-sm-6">
                <div class="current bold">
                    <span>Departure</span>
                </div>
                <%if(typeof(ROUND_TRIP) != "undefined"){%>
                    <div class="current bold">
                        <span>Return</span>
                    </div>
                <%}%>
            </div>

            <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                <div class="progress-arrow-right pull-right small-text"></div>
            </div>
        </div>
    </div>

    <div id="passengers" class="subpage" data-direct-booking="0">
        <div class="panel-dark">
    
            <!-- PC progress-bar-holder -->
            <div class="container">
                <div class="gap gap-super-small hidden-sm hidden-xs"></div>
                <div class="progress-bar-holder hidden-sm hidden-xs">
                    <ul class="progressbar small-text bold">
                        <li class="active">
                            <a v-bind:href="hrefDeparture">DEPARTURE</a>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <%if(typeof(ROUND_TRIP) != "undefined"){%>
                            <li class="active">
                                <a v-bind:href="hrefReturn">RETURN</a>
                                <em class="progress-bar-arrow "></em>
                            </li>
                        <%}%>
                        <li class="current">
                            <span>PASSENGERS</span>
                            <em class="progress-bar-arrow"></em>
                        </li>
                        <li class="">
                            <span>PAYMENT</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="">
                            <span>CONFIRMATION</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container -->
            <!-- END PC progress-bar-holder -->
    
            <!-- MOBILE progress-bar-holder -->
            <div class="container mobile-progressbar visible-xs visible-sm">
                <div class="row booking-progress uppercase">
                    <div class="col-xs-2 col-sm-3 small-text">
    
                        <a class="progress-arrow-left pull-left" href="https://booking.baolau.com/en/results?departure=&amp;return=&amp;sess_key=b9ea2d577e0c5e3ae3b7eab2e8e8b574"></a>
                    </div>
    
                    <div class="col-xs-8 col-sm-6">
                        <div class="current bold">
                            <span>Passengers</span>
                        </div>
                    </div>
    
                    <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                        <div class="progress-arrow-right pull-right small-text"></div>
                    </div>
                </div>
            </div>
            <!-- END MOBILE progress-bar-holder -->
            <div id="errors" class="modal fade">
        
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                       <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body text-center">
                           <div class="gap gap-super-small"></div>
                            <div style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">
                                Error                    </div>
                            <div class="gap gap-small"></div>
                            <div class="message" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">
                                {{error}}
                            </div>
                        </div><!-- /.modal-content -->
                        <div class="gap gap-super-small"></div>
                    </div>
                </div>
            </div>
            <form action="/payment" id="booking_form" data-passengers="1" method="post" accept-charset="utf-8">
                <div id="tableResult_1">
                    <%if(typeof(result2) != "undefined" && result2 != null){%>
                        <div class="container">
                            <div id="search_results_2" class="row">
                                <div class="col-xs-12">
                                    <div class="gap gap-section"></div>
                                    <div class="gap gap-title">
                                        <h2>Your itinerary</h2>
                                        <div class="horizontal-devider hidden-sm hidden-xs"></div>
                                    </div>
            
                                    <div class="js-selected_result">
                                        <h1 class="booking-desp big-text">
                        Summary of Departure from <span class="blue-text bold">{{Depart2}}</span> to <span class="blue-text bold">{{Arrival2}}</span> on <span class="bold"><%=moment(result2.DateDeparture).format('DD-MM-YYYY')%></span>
                    </h1>
                                        <div class="gap gap-mini"></div>
            
                                        <!-- table Result -->
                                        <%- include('tableResult', {result: result2, index: 2})%>
                                        
                                        <!-- Disclaimer Ticket Collection -->
                                    </div>
                                    <!-- // js-selected_result -->
            
                                </div>
                                <!-- End col-xs-12-->
                            </div>
                            <!-- End Search result-->
            
                            <!-- Modals -->
                            <div id="map" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div style="padding: 0px; margin-top: 0px" class="modal-body">
                                            <button type="button" class="close" style="position: absolute; top:10px; right:15px; z-index: 1; color: #000; opacity: .8; font-size: 24px;" data-dismiss="modal" aria-label="Close">×</button>
                                            <div id="map_canvas">
                                                <div class="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </div>
                    <%}%>
                    <div class="container">
                        <div id="search_results" class="row">
                            <div class="col-xs-12">
                                <div class="gap gap-section"></div>
                                <div class="gap gap-title">
                                    <h2>Your itinerary</h2>
                                    <div class="horizontal-devider hidden-sm hidden-xs"></div>
                                </div>
        
                                <div class="js-selected_result">
                                    <h1 class="booking-desp big-text">
                    Summary of Departure from <span class="blue-text bold" id="summaryDepart1">{{Depart1}}</span> to <span class="blue-text bold" id="summaryArrival1">{{Arrival1}}</span> on <span class="bold"><%=moment(result.DateDeparture).format('DD-MM-YYYY')%></span>
                </h1>
                                    <div class="gap gap-mini"></div>
        
                                    <!-- table Result -->
                                    <%- include('tableResult', {result: result, index: 1})%>
                                    
                                    <!-- Disclaimer Ticket Collection -->
                                </div>
                                <!-- // js-selected_result -->
        
                            </div>
                            <!-- End col-xs-12-->
                        </div>
                        <!-- End Search result-->
        
                        <!-- Modals -->
                        <div id="map" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div style="padding: 0px; margin-top: 0px" class="modal-body">
                                        <button type="button" class="close" style="position: absolute; top:10px; right:15px; z-index: 1; color: #000; opacity: .8; font-size: 24px;" data-dismiss="modal" aria-label="Close">×</button>
                                        <div id="map_canvas">
                                            <div class="map"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
            
                <div class="container">
                    <!-- Hidden fields -->
                    <input id="first_travel_date" type="hidden" name="first_travel_date" value="2020-04-16">
                    <input id="last_travel_date" type="hidden" name="last_travel_date" value="2020-04-16">
    
                    <!-- Passenger details -->
                    <div class="gap gap-section"></div>
                    <div class="gap gap-title">
                        <h2>Passenger details</h2>
                        <div class="horizontal-devider hidden-sm hidden-xs"></div>
                        <div class="gap gap-small"></div>
                        <p class="big-text">
                            Please provide the passenger(s) information, <span class="bold">in exact order as it appears in the passport without accent marks or special characters</span>. The full name and passport number will be printed on the ticket. Passengers may be required to show valid travel documents and confirm their identity when boarding. </p>
                    </div>
                    <input type="hidden" name="numberPassenger" v-bind:value="this.numberPass">
                    <%- include('passengerInfomation', {number: 2})%>
                    
                    <!-- End panel-light-->
    
                    <!-- Children disclaimers -->
                    <div id="children_disclaimer" style="display:none">
                        <!-- Disclaimer Travelling with children for planes -->
    
                        <!-- Disclaimer Travelling with children for trains -->
                        <div class="gap gap-mini"></div>
                        <div class="bs-callout bs-callout-info">
                            <div class="padded-heading">
                                <div class="bold">
                                    <img style="margin-right: 5px" class="avatar_baolau" src="https://booking.baolau.com/images/icons/avatar-baolau.png"> Travelling with children</div>
                                <div class="italic" style="padding-top: 10px;">For trains operated by Vietnam Railways,
                                    <br> − passengers under 6 years old do not need to buy ticket if they seat with their parents, or else benefit from 25% discount in all fares when they book a separate ticket. If you do not wish to take this passenger into account when making the booking, please select a smaller number of passengers.
                                    <br> − passengers from 6 to 9 years old need to buy ticket but benefit from 25% discount in all fares.
                                    <br> − passengers with 10 years old or over are not eligible for children discount, need to book as adults.</div>
                            </div>
                        </div>
    
                        <!-- Disclaimer Travelling with children for private trains -->
    
                        <!-- Disclaimer Travelling with children for trains -->
                        <!-- Disclaimer Travelling with children for MTR -->
    
                        <!-- Disclaimer Travelling with children for JRX -->
                        <!-- Disclaimer Travelling with children for GIL -->
    
                        <!-- Disclaimer Travelling with children for China Railway -->
                        <!-- Disclaimer Travelling with children for China Railway (Wuxiang) -->
    
                        <!-- Disclaimer Travelling with children for boats -->
    
                        <!-- Disclaimer Travelling with children for buses -->
                    </div>
    
                    <!-- Disclaimer Immigration (only Train to vn and cn supported for now) -->
    
                    <!-- END Passenger details -->
    
                    <!-- Seat selection -->
                    <div class="gap gap-section"></div>
                    <div class="gap gap-title">
                        <h2>Seat selection</h2>
                        <div class="horizontal-devider hidden-sm hidden-xs"></div>
                        <div class="gap gap-small"></div>
                    </div>
    
                    <input type="hidden" name="seats_69951216" id="seats_69951216" value="">
                    <%if(typeof(result2) != "undefined" && result2 != null){%>
                        <div>
                            <p class="big-text seat-gap">
                                Please select your preferred seats for the itinerary from <span class="blue-text super-bold">{{Depart2}}</span> to <span class="blue-text super-bold">{{Arrival2}}</span> on <span class="bold"><%=moment(result2.DateDeparture).format('DD-MM-YYYY')%></span>.
                            </p>
                            <div class="gap gap-mini"></div>
                            <div class="panel-light">
                                <div class="special padded-heading text-center">
            
                                    <div class="carriage_titles">
                                        <div class="text-center item">
                                            <p class="big-text bold" style="text-transform: capitalize">
                                                {{SeatTypeName1}} </p>
                                        </div>
                                    </div>
                                    <div class="gap gap-small hidden-sm hidden-xs"></div>
            
                                    <!-- <div style="opacity: .8; margin-top: 15px" class="horizontal-devider"></div> -->
            
                                    <div class="row" v-if="SeatTypeID1 != 'undefined' && (SeatTypeID1 === 2 || SeatTypeID1 === 3 || SeatTypeID1 === 4 || SeatTypeID1 === 5)">
                                        <div style="margin-top: 15px; margin-bottom: 30px;" class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
                                            <div class="legend">
                                                <div class="col-md-3 col-sm-3 col-xs-6">
                                                    <span> <i style="font-size: 40px;" class="icon-soft-seat-bottom"></i> <br> Available                        </span>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #ffbb00;"> <i style="font-size: 40px;" class="icon-soft-seat-people-bottom"></i> <br> Selected                        </span>
                                                </div>
                                                <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #d54844;"> <i style="font-size: 40px;" class="icon-soft-seat-people-bottom"></i> <br> Sold out                        </span>
                                                </div>
                                                <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #666b71;"> <i style="font-size: 40px; opacity: .3" class="icon-soft-seat-reserve-bottom"></i> <br> Reserved                        </span>
                                                </div>
                                            </div>
                                            <!-- End legend-->
                                        </div>
                                    </div>
                                    <div class="row" v-else-if="SeatTypeID1 != 'undefined' && SeatTypeID1 === 1 || SeatTypeID1 === 6">
                                        <div style="margin-top: 15px; margin-bottom: 30px;" class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
                                            <div class="legend">
                                                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                                    <span> <i style="font-size: 40px;" class="icon-soft-bed-bottom"></i> <br> Available                        </span>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #ffbb00;"> <i style="font-size: 40px;" class="icon-soft-bed-people-bottom"></i> <br> Selected                        </span>
                                                </div>
                                                <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #d54844;"> <i style="font-size: 40px;" class="icon-soft-bed-people-bottom"></i> <br> Sold out                        </span>
                                                </div>
                                                <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                    <span style="color: #666b71;"> <i style="font-size: 40px; opacity: .3" class="icon-soft-bed-reserve-bottom"></i> <br> Reserved                        </span>
                                                </div>
                                            </div>
                                            <!-- End legend-->
                                        </div>
                                    </div>
            
                                    <div class="horizontal-devider"></div>
                                    <div class="gap gap-mini"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="diagram-train">
                                                <div>
                                                    <div class="diagram_cell train-block etc"> 
                                                        <div class="diagram-number">...</div>
                                                    </div>
                                                    <!-- chooseSeat2  -->
                                                   <span v-if="carriageDisplay2" v-for="(carriage, index) in carriageDisplay2">
                                                    <div style="cursor: pointer;" data-click="true" v-bind:data-parent="'parentSeat' + carriage.ID" onclick="change(this, 2)" v-bind:id="carriageDisplay2[carriageDisplay2.length - (index + 1)].ID" name="carriageSelected2" class="diagram_cell train-block selectable selected" v-if="carriageDisplay2.length - (index + 1) == 0">
                                                        <div class="diagram-number" >{{carriageDisplay2.length - index}}</div>
                                                    </div>
                                                    <div style="cursor: pointer;" data-click="false" v-bind:data-parent="'parentSeat' + carriage.ID" onclick="change(this, 2)" class="diagram_cell train-block available" v-bind:id="carriageDisplay2[carriageDisplay2.length - (index + 1)].ID" v-else>
                                                        <div class="diagram-number" >{{carriageDisplay2.length - index}}</div>
                                                    </div>
                                                    <!-- <div style="cursor: pointer;" class="diagram_cell train-block selectable selected">
                                                        <div class="diagram-number" data-carriage-id="5179">2</div>
                                                    </div>
                                                    <div style="cursor: pointer;" class="diagram_cell train-block selectable available">
                                                        <div class="diagram-number" data-carriage-id="5176">1</div>
                                                    </div> -->
                                                   </span>
                                                    <div class="diagram_cell train-block etc">
                                                        <div class="diagram-number">...</div>
                                                    </div>
                                                    <div class="diagram_cell train-block last">
                                                        <div class="diagram-number" name="hiddenTrain2">{{Train2}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="gap gap-medium hidden-sm hidden-xs"></div>
                                    <div>
                                        <%- include('chooseSeat2') %>
                                    </div>
                                </div>
                            </div>
                            <br>
                           
                        </div>
                    <%}%>
                    <div>
                        <p class="big-text seat-gap">
                            Please select your preferred seats for the itinerary from <span class="blue-text super-bold">{{Depart1}}</span> to <span class="blue-text super-bold">{{Arrival1}}</span> on <span class="bold"><%=moment(result.DateDeparture).format('DD-MM-YYYY')%></span>.
                        </p>
                        <div class="gap gap-mini"></div>
                        <div class="panel-light">
                            <div class="special padded-heading text-center">
        
                                <div class="carriage_titles">
                                    <div class="text-center item">
                                        <p class="big-text bold" style="text-transform: capitalize">
                                            {{SeatTypeName}} </p>
                                    </div>
                                </div>
                                <div class="gap gap-small hidden-sm hidden-xs"></div>
        
                                <div class="row" v-if="SeatTypeID != 'undefined' && (SeatTypeID === 2 || SeatTypeID === 3 || SeatTypeID === 4 || SeatTypeID === 5)">
                                    <div style="margin-top: 15px; margin-bottom: 30px;" class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
                                        <div class="legend">
                                            <div class="col-md-3 col-sm-3 col-xs-6">
                                                <span> <i style="font-size: 40px;" class="icon-soft-seat-bottom"></i> <br> Available                        </span>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #ffbb00;"> <i style="font-size: 40px;" class="icon-soft-seat-people-bottom"></i> <br> Selected                        </span>
                                            </div>
                                            <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #d54844;"> <i style="font-size: 40px;" class="icon-soft-seat-people-bottom"></i> <br> Sold out                        </span>
                                            </div>
                                            <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #666b71;"> <i style="font-size: 40px; opacity: .3" class="icon-soft-seat-reserve-bottom"></i> <br> Reserved                        </span>
                                            </div>
                                        </div>
                                        <!-- End legend-->
                                    </div>
                                </div>
                                <div class="row" v-else-if="SeatTypeID != 'undefined' && SeatTypeID === 1 || SeatTypeID === 6">
                                    <div style="margin-top: 15px; margin-bottom: 30px;" class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
                                        <div class="legend">
                                                                <div class="col-md-3 col-sm-3 col-xs-6">
                                                <span> <i style="font-size: 40px;" class="icon-soft-bed-bottom"></i> <br> Available                        </span>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #ffbb00;"> <i style="font-size: 40px;" class="icon-soft-bed-people-bottom"></i> <br> Selected                        </span>
                                            </div>
                                            <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #d54844;"> <i style="font-size: 40px;" class="icon-soft-bed-people-bottom"></i> <br> Sold out                        </span>
                                            </div>
                                            <div class="seat_legend col-md-3 col-sm-3 col-xs-6">
                                                <span style="color: #666b71;"> <i style="font-size: 40px; opacity: .3" class="icon-soft-bed-reserve-bottom"></i> <br> Reserved                        </span>
                                            </div>
                                        </div>
                                        <!-- End legend-->
                                    </div>
                                </div>
                                <div class="horizontal-devider"></div>
                                <div class="gap gap-mini"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="diagram-train">
                                            <div >
                                                <div class="diagram_cell train-block etc"> 
                                                    <div class="diagram-number">...</div>
                                                </div>
                                                <!-- chooseSeat1 -->
                                               <span v-if="carriageDisplay" v-for="(carriage, index) in carriageDisplay">
                                                <div style="cursor: pointer;" data-click="true" v-bind:data-parent="'parentSeat' + carriage.ID" onclick="change(this, 1)" v-bind:id="carriageDisplay[carriageDisplay.length - (index + 1)].ID" name="carriageSelected1" class="diagram_cell train-block selectable selected" v-if="carriageDisplay.length - (index + 1) == 0">
                                                    <div class="diagram-number" >{{carriageDisplay.length - index}}</div>
                                                </div>
                                                <div style="cursor: pointer;" data-click="false" v-bind:data-parent="'parentSeat' + carriage.ID" onclick="change(this, 1)" class="diagram_cell train-block available" v-bind:id="carriageDisplay[carriageDisplay.length - (index + 1)].ID" v-else>
                                                    <div class="diagram-number" >{{carriageDisplay.length - index}}</div>
                                                </div>
                                                <!-- <div style="cursor: pointer;" class="diagram_cell train-block selectable selected">
                                                    <div class="diagram-number" data-carriage-id="5179">2</div>
                                                </div>
                                                <div style="cursor: pointer;" class="diagram_cell train-block selectable available">
                                                    <div class="diagram-number" data-carriage-id="5176">1</div>
                                                </div> -->
                                               </span>
                                                <div class="diagram_cell train-block etc">
                                                    <div class="diagram-number">...</div>
                                                </div>
                                                <div class="diagram_cell train-block last">
                                                    <div class="diagram-number" name="hiddenTrain">{{Train1}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="gap gap-medium hidden-sm hidden-xs"></div>
                                    <div >
                                        <%- include('chooseSeat') %>
                                    </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    
                    <div class="bs-callout bs-callout-info">
                        <div class="padded-heading">
                            <div class="bold">
                                <img style="margin-right: 5px" class="avatar_baolau" src="https://booking.baolau.com/images/icons/avatar-baolau.png"> Seat position not guaranteed</div>
                            <div class="italic" style="padding-top: 10px;">Please note that the position of the seats is just for reference. The railway operator may change the orientation of the carriage at the departure station anytime at their convenience. We hope you understand that this situation escapes our control and we cannot guarantee that the position of your seat will be the same as you select here.</div>
                        </div>
                    </div>
                    <!-- END Seat selection -->
    
                    <!-- Seat preference -->
    
                    <!-- END Seat selection -->
    
                    <!-- Contact info -->
                    <div class="gap gap-section"></div>
                    <div class="gap gap-title">
                        <h2>Contact details</h2>
                        <div class="horizontal-devider hidden-sm hidden-xs"></div>
                        <div class="gap gap-small"></div>
                        <p class="big-text">Please provide the contact details of the person responsible for booking. We will send the ticket confirmation to the email address provided.</p>
                    </div>
    
                    <div class="passenger-contact-info panel-light">
                        <div class="padded-heading">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input id="book_full_name" class="form-control english" name="book_full_name" type="text" placeholder="Full Name" value="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <input id="book_passport" class="form-control english" name="book_passport" type="text" placeholder="Passport" value="">
                                    </div>
                                </div>
    
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input id="book_email" onpaste="return false;" class="form-control" name="book_email" type="email" placeholder="email" value="">
                                    </div>
                                </div>
    
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input id="verify_email" onpaste="return false;" class="form-control" name="verify_email" type="email" placeholder="confirm email" value="">
                                    </div>
                                </div>
    
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-0 col-sm-2 col-sm-offset-4 col-xs-4">
                                            <div class="form-group">
                                                <input id="book_country_code" class="form-control" name="book_country_code" type="tel" maxlength="3" placeholder="+00" value="84">
                                            </div>
                                        </div>
    
                                        <div class="col-md-8 col-sm-6 col-xs-8">
                                            <div class="form-group">
                                                <input id="book_phone" class="form-control" name="book_phone" type="tel" maxlength="11" placeholder="phone" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="gap gap-small"></div>
    
                    <input type="hidden" name="submit" value="submit">
                    <button type="button" class="btn green full-width" v-on:click="submitForm()">CONTINUE</button>
    
                    <div class="gap gap-footer"></div>
    
                </div>
                <!-- End container-->
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<%- include('footer')%>
<!-- END FOOTER -->

</div>
<!-- END GLOBAL WRAP -->

</div>
<!-- END FILTER -->

</div>
<!-- END MAIN -->



<!-- WINDOW POPUP -->

<!-- Modals-->


<!-- END WINDOW POPUP -->

    <%- include('scriptCommon',{page:3})%>
</body>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:32:07 GMT -->
</html>