<!DOCTYPE HTML>
<html>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:20:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="Baolau">
    
    <title>Train Ticket Online VN | Payment</title>
    <meta name="description" content="Information and ticket booking service for travelling in China, Vietnam, Cambodia, Laos, Thailand, Myanmar, Malaysia, Philippines and Indonesia. Find schedules and fares, book flights, trains, buses and ferries."/>
    <meta name="keywords" content="flights, cheap flights, flights to hanoi, flights to bangkok, flights to saigon, book train ticket, book train ticket online, train to sapa, train to hanoi, train to saigon, train to bangkok, train to chiang mai, bus ticket, book bus ticket online, buy bus ticket online, bus ticket to hanoi, bus ticket to saigon"/>
    
    <base target="_top">


	<!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../vendor/lightgallery/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="../dist/baolau.min6ffc.css">

    <!-- jQuery -->
    <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
</head>

<body style="overflow: hidden;">
    <div id="errors" class="modal fade">
        <input hidden type="text" value="<%=TicketInfo.SeatID%>" id="SeatID">
        <input hidden type="text" value="<%=TicketInfo.DepartureStationID%>" id="DepartureStationID">
        <input hidden type="text" value="<%=TicketInfo.ArrivalStationID%>" id="ArrivalStationID">
        <%if(typeof(TicketInfo2) != "undefined" && TicketInfo2 != null){%>
            <input hidden type="text" value="<%=TicketInfo2.SeatID%>" id="SeatID2">
            <input hidden type="text" value="<%=TicketInfo2.DepartureStationID%>" id="DepartureStationID2">
            <input hidden type="text" value="<%=TicketInfo2.ArrivalStationID%>" id="ArrivalStationID2">
        <%}%>
        <div class="modal-dialog" role="document" id="errors">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                   <div class="gap gap-super-small"></div>
                    <div style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">
                        Error                    </div>
                    <div class="gap gap-small"></div>
                    <div class="message" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">
                        Please accept our policy
                                            </div>
                </div><!-- /.modal-content -->
                <div class="gap gap-super-small"></div>
            </div>
        </div>
    </div>

    <div id="modal_message" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="gap gap-super-small"></div>                   
                    <div id="modal_message_title" style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">

                    </div>
                    <div class="gap gap-small"></div>
                    <div id="modal_message_text" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">

                    </div>
                </div><!-- /.modal-content -->
                <div class="gap gap-super-small"></div>
            </div>
        </div>
    </div>

    <div id="waiting_overlay" style="display:block;background-color: lightgoldenrodyellow;">
        <div class="container">
            <h2 style="color: #fff; text-transform: uppercase;" id="waiting_text1" class="refrigerator"></h2>
            <span id="waiting_text2" class="big-big-text"></span>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="../images/genaral/244.gif" style="width:100px">
        </div>
    </div>
<!-- Sidebar Content -->

<%- include('section')%>

<!---------------------------END Mobile Sidebar Content-------------------------------------->

<div id="menu_overlay"></div>

<div id="main_container" >
<div class="filter">
<div class="global-wrap">
    <%- include('sectionDesktop')%>

<div class="subpage panel-dark search_result_page" id="app">

   
    <!-- container -->
    <!-- END PC progress-bar-holder -->

    <!-- MOBILE progress-bar-holder -->
    <div class="container mobile-progressbar visible-xs visible-sm">
        <div class="row booking-progress uppercase">
            <div class="col-xs-2 col-sm-3 small-text">
                &nbsp; </div>

            <div class="col-xs-8 col-sm-6">
                <div class="current bold">
                    <span>Departure</span>
                </div>
            </div>

            <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                <div class="progress-arrow-right pull-right small-text"></div>
            </div>
        </div>
    </div>

    <div id="payment" class="subpage">
        <div class="panel-dark">
    
            <!-- PC progress-bar-holder -->
            <div class="container">
                <div class="gap gap-super-small hidden-sm hidden-xs"></div>
                <div class="progress-bar-holder hidden-sm hidden-xs">
                    <ul class="progressbar small-text bold">
                        <li class="active">
                            <a v-bind:href="hrefDeparture">DEPARTURE</a>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="active">
                            <a v-bind:href="hrefPassengers">PASSENGERS</a>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="current">
                            <span>PAYMENT</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="">
                            <span>CONFIRMATION</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container -->
            <!-- END PC progress-bar-holder -->
    
            <!-- MOBILE progress-bar-holder -->
            <div class="container mobile-progressbar visible-xs visible-sm">
                <div class="row booking-progress uppercase">
                    <div class="col-xs-2 col-sm-3 small-text">
    
                        <a class="progress-arrow-left pull-left" href="https://booking.baolau.com/en/passengers?sess_key=0161c993bc7824020ae72718937f2210"></a>
                    </div>
    
                    <div class="col-xs-8 col-sm-6">
                        <div class="current bold">
                            <span>Payment</span>
                        </div>
                    </div>
    
                    <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                        <div class="progress-arrow-right pull-right small-text"></div>
                    </div>
                </div>
            </div>
            <!-- END MOBILE progress-bar-holder -->
    
            <div class="container">
                <form action="https://booking.baolau.com/en/payment/?sess_key=0161c993bc7824020ae72718937f2210" id="payment_form" data-sess_key="0161c993bc7824020ae72718937f2210" data-book-time="15000" method="post" accept-charset="utf-8">
                    <div class="gap gap-section"></div>
    
                    <!-- Payment -->
                    <div id="payment_info" class="row">
                        <div class="col-xs-12">
                            <div class="gap gap-title">
                                <h1 class="special">Payment</h1>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                                <p class="big-text">Please, select your payment method and confirm the total amount to complete your ticket reservation.</p>
                            </div>
                            <div class="gap gap-mini"></div>
    
                            <div id="tabs-menu-style">
                                <nav class="scroll-fixed-navi" role="navigation">
                                    <ul class="scroll-menu" id="payment_group_tabs">
                                        <li class="active"><a href="#tab-payment-credit" data-toggle="tab" aria-expanded="true">Ngan Luong</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="gap gap-mini"></div>
                            <div class="tab-content" id="tab_content_payment">
                                <div class="tab-pane panel-dark active" id="tab-payment-credit">
    
                                    <!-- PAYPAL -->
    
                                    <!-- INTERNATIONAL_CARD  -->
                                    <div id="collapse_payment_onepay_international_select" class="toggle-collapse toggle-container">
                                        <div class="panel-light payment-card gap-mini-mini">
                                            <div class="padded-heading border-bottom">
                                                <a class="" role="button" data-toggle="collapse" href="#collapse_payment_onepay" style="display: none" aria-expanded="true"></a>
                                                <div class="radio">
                                                    <input class="payment_radio" id="radio_payment_onepay" type="radio" name="payment_type" value="ONEPAY_INTERNATIONAL" checked="" data-processing-fee="34000" data-processing-fee-refund="34000">
                                                    <label class="inline" for="radio_payment_onepay">
                                                        <span class="bold">Ngan Luong Payment Gateway</span>
                                                    </label>
                                                </div>
                                                <!-- <div class="payment-logo pull-right">
                                                    <img src="https://booking.baolau.com/images/payments/visa.svg">
                                                    <img src="https://booking.baolau.com/images/payments/mastercard.svg">
                                                    <img src="https://booking.baolau.com/images/payments/jcb.svg">
                                                    <img src="https://booking.baolau.com/images/payments/unionpay.svg">
                                                </div> -->
                                            </div>
                                            <div id="collapse_payment_onepay" class="panel-collapse payment_radio_collapse_panel collapse in" aria-expanded="true" style="">
                                                <div class="padded-content">
                                                    <p>Pay with credit or debit card Visa, MasterCard, JCB, UnionPay, etc. </p>
                                                    <p>Processing fee applies.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                   
    
                                    <!-- STRIPE -->
    
                                    <div class="toggle-collapse toggle-container">
                                        <div id="collapse_payment_stripe_select" class="collapse">
                                            <div class="panel-light payment-card gap-mini-mini">
                                                <div class="padded-heading border-bottom">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_payment_stripe" style="display:none" aria-expanded="false"></a>
                                                    <div class="radio">
                                                        <input class="payment_radio" id="radio_payment_stripe" type="radio" name="payment_type" value="STRIPE" data-processing-fee="65000" data-processing-fee-refund="65000">
                                                        <label class="inline" for="radio_payment_stripe">
                                                            <span class="bold">Credit or debit card</span>
                                                        </label>
                                                    </div>
                                                    <div class="payment-logo pull-right">
                                                        <img src="https://booking.baolau.com/images/payments/visa.svg">
                                                        <img src="https://booking.baolau.com/images/payments/mastercard.svg">
                                                        <img src="https://booking.baolau.com/images/payments/amex.svg">
                                                        <img src="https://booking.baolau.com/images/payments/jcb.svg">
                                                        <img src="https://booking.baolau.com/images/payments/unionpay.svg">
                                                    </div>
                                                </div>
                                                <div id="collapse_payment_stripe" class="panel-collapse collapse payment_radio_collapse_panel" aria-expanded="false">
                                                    <div class="padded-content">
                                                        <p>Pay with credit or debit card Visa, MasterCard, American Express, JCB, UnionPay. </p>
                                                        <p>Processing fee applies.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="gap gap-mini-mini"></div>
                                    <!-- <a id="collapse_payment_stripe_link" href="javascript:void(0)" class="external_link small-text blue-text italic" style="text-decoration: underline!important;">I have problems paying by card through OnePAY</a> -->
                                    <br>
                                </div>
    
                                <!-- STRIPE_ALIPAY -->
                                <div class="tab-pane panel-dark" id="tab-payment-alipay">
                                    <div class="toggle-collapse toggle-container">
                                        <div class="panel-light payment-card gap-mini-mini">
                                            <div class="padded-heading border-bottom">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_payment_alipay" style="display: none" aria-expanded="false"></a>
                                                <div class="radio">
                                                    <input class="payment_radio" id="radio_payment_stripe_alipay" type="radio" name="payment_type" value="STRIPE_ALIPAY" data-processing-fee="28000" data-processing-fee-refund="28000">
                                                    <label class="inline" for="radio_payment_stripe_alipay">
                                                        <span class="bold">Alipay</span>
                                                    </label>
                                                </div>
    
                                                <div class="payment-logo pull-right">
                                                    <img src="https://booking.baolau.com/images/payments/alipay.svg">
                                                </div>
    
                                            </div>
                                        </div>
                                        <div id="collapse_payment_alipay" class="panel-collapse payment_radio_collapse_panel collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="padded-content">
                                                <p>Pay with Alipay.</p>
                                                <p>Processing fee applies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ATM CARD -->
                                <div class="tab-pane panel-dark" id="tab-payment-internetBanking">
                                </div>
    
                                <!-- BANK TRANSFER -->
                                <div class="tab-pane panel-dark " id="tab-payment-bank">
    
                                </div>
    
                                <!-- CASH -->
                                <div class="tab-pane panel-dark " id="tab-payment-cash">
                                    <!--CASH OFFICE -->
    
                                    <!-- CASH AT BANKS -->
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Price summary -->
                    <div class="row">
                        <div class="col-xs-12">
    
                            <div class="gap gap-section"></div>
                            <div class="gap gap-title">
                                <h2>Price breakdown</h2>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                            </div>
    
                            <!-- price_summary-->
    
                            <div id="price_summary" data-passengers="1">
                                <%if(typeof(TicketInfo2) != "undefined" && TicketInfo2 != null){%>
                                    <div class="padded-panel panel-light medium-border-top">
                                        <div class="row">
                                            <div style="line-height: 40px" class="col-md-12 col-xs-12 view-total-price-items">
                                                <div class="col-xs-12 bold">
                                                    <div class="searchresult-itenerary bold uppercase">
                                                        <span id="DepartureID2">HANOI</span> <i class="icon icon-train inline"></i><span id="ArrivalID2">HO CHI MINH </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padded-panel panel-light border-top">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-md-6 col-xs-6">
                                                    <i class="fa fa-calendar-o"></i> <%=moment(TicketInfo2.DepartureDate).format('DD-MM-YYYY')%> </div>
                                                <div class="col-md-6 col-xs-6 mobile-text-right">
                                                    
                                                    <i class="fa fa-clock-o"></i> <span class="blue-text bold"><%=moment(TicketInfo2.DepartureTime).subtract('hour', 7).format('LT')%></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12 view-total-price-items border-bottom">
                                                <div class="col-md-12 col-xs-12">
                                                    <span class="bold">Vietnam Railways</span> <%=TicketInfo2.TrainName%> </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
        
                                    <!-- Fares and passengers breakdown -->
                                    <div class="padded-panel panel-light passenger_row" data-target="departure-0-0">
                                        <div class="row ">
                                            <div class="col-md-3 col-xs-12 view-total-price-items ">
                                                <div class="col-xs-12 super-bold">
                                                    <%=Representative.Name%> </div>
                                            </div>
                                            <div class="col-md-3 col-xs-12 view-total-price-items no-padding-top-bottom  ">
                                                <div class="col-xs-12">
                                                    <%=Representative.Passport%> </div>
                                            </div>
        
                                            <div class="col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-xs-7">
                                                    <span class="bold" id="seatType2"></span>
                                                </div>
        
                                                <div class="col-xs-5 text-right yellow-text">
                                                    <span class="money" ><%=JSON.stringify(TicketInfo2.Price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> &nbsp;VND</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Service Fee -->
                                    <div class="padded-panel panel-light medium-border-bottom service_fee_row service_fee_row_73992753">
                                        <div class="row">
                                            <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-xs-5 bold">
                                                    Passenger Quantity </div>
                                                <div class="col-xs-2 text-right">
                                                    
                                                </div>
                                                <div class="col-xs-5 text-right yellow-text">
                                                    <span class="service_fee_73992753 money"><%=TicketInfo2.PassengerQuantity%></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                <div class="padded-panel panel-light medium-border-top">
                                    <div class="row">
                                        <div style="line-height: 40px" class="col-md-12 col-xs-12 view-total-price-items">
                                            <div class="col-xs-12 bold">
                                                <div class="searchresult-itenerary bold uppercase">
                                                    <span id="DepartureID">HANOI</span> <i class="icon icon-train inline"></i><span id="ArrivalID">HO CHI MINH </span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="padded-panel panel-light border-top">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-md-6 col-xs-6">
                                                <i class="fa fa-calendar-o"></i> <%=moment(TicketInfo.DepartureDate).format('DD-MM-YYYY')%> </div>
                                            <div class="col-md-6 col-xs-6 mobile-text-right">
                                                <i class="fa fa-clock-o"></i> <span class="blue-text bold"><%=moment(TicketInfo.DepartureTime).subtract('hour', 7).format('LT')%></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 view-total-price-items border-bottom">
                                            <div class="col-md-12 col-xs-12">
                                                <span class="bold">Vietnam Railways</span> <%=TicketInfo.TrainName%> </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <!-- Fares and passengers breakdown -->
                                <div class="padded-panel panel-light passenger_row" data-target="departure-0-0">
                                    <div class="row ">
                                        <div class="col-md-3 col-xs-12 view-total-price-items ">
                                            <div class="col-xs-12 super-bold">
                                                <%=Representative.Name%> </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 view-total-price-items no-padding-top-bottom  ">
                                            <div class="col-xs-12">
                                                <%=Representative.Passport%> </div>
                                        </div>
    
                                        <div class="col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-7">
                                                <span class="bold" id="seatType"></span>
                                            </div>
    
                                            <div class="col-xs-5 text-right yellow-text">
                                                <span class="money" ><%=JSON.stringify(TicketInfo.Price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> &nbsp;VND</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Service Fee -->
                                <div class="padded-panel panel-light medium-border-bottom service_fee_row service_fee_row_73992753">
                                    <div class="row">
                                        <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-5 bold">
                                                Passenger Quantity </div>
                                            <div class="col-xs-2 text-right">
                                                
                                            </div>
                                            <div class="col-xs-5 text-right yellow-text">
                                                <span class="service_fee_73992753 money"><%=TicketInfo.PassengerQuantity%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              
                                <!-- Change Fee  -->

                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <!-- Red Invoice Delivery Fee -->
    
                                <!-- Total -->
                                <div class="padded-panel panel-light medium-border-top medium-border-bottom">
                                    <div class="row">
                                        <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-5 uppercase super-bold">
                                                Total </div>
                                            <div class="col-xs-offset-2 col-xs-5 text-right super-bold yellow-text">
                                                <span id="total_booking" class="money"><%=JSON.stringify(Representative.TotalCost).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%>&nbsp;đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End price_summary-->
                        </div>
                    </div>
    
                    <div class="gap gap-section"></div>
    
                    <!-- Insurrance -->
    
                    <!-- Terms and Conditions -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="gap gap-title">
                                <h2>Terms and conditions of booking</h2>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                            </div>
                            <div class="panel-light">
                                <div class="padded-heading">
                                    <div class="payment-terms smaller-text scrollbar-style">
                                        <div style="padding-right: 20px">
    
                                            <div class="panel-content">
                                                <h2>Terms of use</h2>
                                                <div class="gap-title"></div>
    
                                                <h3>1. Acceptance of Terms and Conditions</h3>
                                                <div class="gap gap-small"></div>
                                                <p>The use of this website constitutes the agreement to the following Terms of Use and conditions.</p>
                                                <p>Baolau reserves the right to modify, add or remove parts of these Terms of Use at any time and without prior notice. Please check the latest content concerning this.</p>
                                                <p>The continued use of this website after changes have been made constitutes the consent to such changes.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>2. Definitions</h3>
                                                <div class="gap-title"></div>
                                                <p>
                                                    <span class="bold">"Passenger Carrier"</span> includes all companies that issue transport tickets and provide air, ground or waterway transport services, including but not limited to airlines, railway companies, bus companies and ferry companies.
                                                </p>
                                                <p>
                                                    <span class="bold">"We", "our", "ourselves", "ours", and "us"</span> means Baolau and its representatives, providers of this online service and administrators of this website.
                                                </p>
                                                <p>
                                                    <span class="bold">"You", "your", "yourself"</span> means the user of this website and its online service.
                                                </p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>3. General Terms</h3>
                                                <div class="gap-title"></div>
                                                <p>These terms ("Terms of Use") govern your use of Baolau website. Your use of this website will mean you accept these terms.</p>
                                                <p>The Online Service is provided by <span class="bold">BAOLAU PTE. LTD.</span>, a private limited company incorporated in Singapore with registration number <span class="bold">201434204K</span> located in <span class="bold">340 Clementi Avenue 5 #03-236, Singapore</span>, and its subsidiary <span class="bold">CÔNG TY TNHH BAOLAU</span>, a company with business registration license number <span class="bold">0313838015</span> issued by People's Committee of Ho Chi Minh City, registered at <span class="bold">PDD Building, 162 Pasteur Street, Ward Ben Nghe, District 1, Ho Chi Minh, Vietnam</span>.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>4. General Conditions of the Online Service</h3>
                                                <div class="gap-title"></div>
                                                <p>Baolau is an "Online Information and Ticket Reservation Service" for travelling in Vietnam, Cambodia, Laos and Thailand, which compares routes, schedules and fares for flights, trains, buses and ferries operated by domestic and international Passenger Carriers, and facilitates ticket booking.</p>
                                                <div class="gap gap-small"></div>
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Nature of the information</div>
                                                <p>Baolau provides the following information about transport services:</p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Name and Logo of the Passenger Carrier.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Route, defined by a point of origin and a point of destination.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Schedule, defined by a date and time of departure, a date and time of arrival and the duration of the journey.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Code, number or combination of letters and numbers that identify the flight, train, vehicle or vessel.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Price, calculated from a base fare and added taxes and fees.
                                                </p>
                                                <p>The information on this website has been prepared for the sole purpose of providing references about transport services. Baolau gathers all the information from trusted public domain sources associated to the Passenger Carriers. The source of data is made available and controlled by the Passenger Carriers and it is subject to change any time and without notice. Due to the volatile nature of the information and the fact that it is supplied by a third party you understand and agree that the information of price displayed in our website may differ from the actual price of the ticket at the time of booking or payment due to fluctuations of the fare or additional fees such as service fees and payment processing fees added by the Passenger Carrier, and you should not rely that our contents are accurate or reliable.</p>
    
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Ticket booking and reservation process</div>
                                                <p>Besides offering information, Baolau facilitates ticket booking by collecting your personal information (full name, email and phone number) and the information of the passengers (full name, passport number, date of birth), and obtaining your consent and approval to perform a booking with the Passenger Carrier on your behalf. Having confirmed the fare availability you will proceed with the payment, including the ticket price and additional fees. After payment you will receive an invoice and a confirmation of your booking, and have your tickets delivered via email or sms, or else receive a voucher to collect the tickets at the passenger terminal in coordination with the Passenger Carrier.</p>
    
                                                <p>Should you provide any personal information to Baolau, we will collect, manage and store the data according to our Privacy Policy and in compliance with the relevant Terms of Use and Privacy Policy of the Passenger Carriers that will process your booking. As a user, you are responsible for the accuracy of the personal information provided at the time of booking and for presenting a valid travel document at the time of checking in or boarding the vessel. When you provide any personal information, you agree that you are not misrepresenting or impersonating another individual without the necessary consent and approval, or giving misleading information about your identity in any way.</p>
                                                <p>Baolau is not responsible for you not receiving the booking confirmation if you provide a wrong email address or a wrong phone number to us, or the email or the sms cannot be delivered due to technical reasons.</p>
    
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Payment</div>
    
                                                <p>In case you grant consent and approval to Baolau for performing a booking on your behalf, you should proceed with the payment in our website and receive an invoice and a confirmation of your booking by email or sms.</p>
    
                                                <p>Please note that during the payment process we may charge additional fees such as service fees and payment processing fees, and that the total cost of the merchant transaction may differ from the ticket price, calculated from a base fare and included taxes and fees (such as the charges imposed by the Government or the transport authority or the operator of the transport insfrastructure in respect of your use of the facility).</p>
    
                                                <p>We accept multiple “Online Payment" methods. When paying online with credit card or debit card, you provide us with the explicit authority to charge the total cost of the booking to your card, including the ticket price and additional fees detailed in the invoice.</p>
    
                                                <p>For the purpose of preventing payment card fraud, we reserve the right to contact you and request additional information in order to verify you as the right holder of the credit card or debit card before your booking is confirmed. This verification process protects you against fraud and ensures your security as you use your credit card or debit card on our website.</p>
    
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Changes</div>
    
                                                <p>In case you booked through our website, you may request a change of your booking according to the following terms:</p>
    
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Change itinerary or origin/destination is not permitted.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Change passengers is not permitted. Small typing mistakes in the name of the passengers or the passport number will require a modification of the booking, subject to additional fees.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Change time/date is permitted according to the terms of the Passenger Carrier.
                                                </p>
    
                                                <p>
                                                </p>
                                                <p>The following change terms and conditions apply to our train fares:</p>
    
                                                <div class="table-responsive">
                                                    <table class="policy-table">
    
                                                        <tbody>
                                                            <tr style="border-bottom: 1px solid #ddd;background-color: #d1cfcf">
                                                                <td style="width: 50%;"><span class="bold">Vietnam Railways</span></td>
                                                                <td style="width: 50%; background-color: #ddd;">Change time/date</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Sleeper 4-Berth</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Sleeper 6-Berth</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Soft seat</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Hard seat</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Supplementary seat</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare No seat</td>
                                                                <td><i class="fa fa-times"></i> Not permitted</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
    
                                                <br>
    
                                                <!--case: If at least one of the existing Fare classes has the change policy as fare_rule_option_permitted or fare_rule_option_permitted_with_fees-->
    
                                                <p>
                                                    In accordance with the policy of Vietnam Railways, <span class="bold">once the booking has been confirmed changes are not allowed</span>.
                                                </p>
    
                                                <!--Additionally, we will check if at least one of the existing Fare classes has the cancel policy fare_rule_option_permitted_with_fees to append-->
                                                <p>
                                                    To modify the number of passengers, full passenger details, itinerary, fare or travel date, you need to cancel the existing booking and issue a new one.
                                                </p>
    
                                                <br>
                                                <p></p>
    
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Cancellations</div>
    
                                                <p>In case you booked through our website, you may request a cancellation of your booking according to the following terms:</p>
    
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Missed check-in or failure to board within the required time will result in no refund. Cancellation after departure is not permitted.
                                                </p>
                                                <p class="text-indent">
                                                    <i class="highlight-point fa fa-angle-right"></i> Cancellation before departure is permitted according to the terms of the Passenger Carrier.
                                                </p>
    
                                                <p>
                                                </p>
                                                <p>The following cancellation terms and conditions apply to our train fares:</p>
    
                                                <div class="table-responsive">
                                                    <table class="policy-table">
    
                                                        <tbody>
                                                            <tr style="border-bottom: 1px solid #ddd;background-color: #d1cfcf">
                                                                <td style="width: 50%;"><span class="bold">Vietnam Railways</span></td>
                                                                <td style="width: 50%; background-color: #ddd;">Cancellation before departure</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Sleeper 4-Berth</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Sleeper 6-Berth</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Soft seat</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Hard seat</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare Supplementary seat</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
    
                                                            <tr>
                                                                <td style="background-color: #ddd">Fare No seat</td>
                                                                <td><i class="fa fa-check"></i> Permitted with fees</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
    
                                                <br>
    
                                                <!--static-->
    
                                                <p>
                                                    If you wish to <span class="bold">cancel your booking at the railway station</span>, please present the e-ticket along with your passport at the counter and claim your refund in cash. This option is <span class="bold">available until 4 hours before departure</span>, except in public holidays which is available 24 hours before departure.
                                                </p>
                                                <p>
                                                    Service fees will not be refunded. Cancellation fees will apply.
                                                </p>
                                                <p>
                                                    - For standard tickets, 20% of the ticket fare
                                                    <br> - For the route Hanoi - Lao Cai and tickets on public holidays, 50% of the ticket fare
                                                    <br> - For promotion tickets, the amount is subject to the railway authority
                                                </p>
                                                <p>
                                                    If you wish to <span class="bold">cancel your booking online</span>, kindly manage your booking and request a cancellation to proceed with the refund. This option is <span class="bold">available until 24 hours before departure</span>, except in public holidays.
                                                </p>
                                                <p>
                                                    Service fees will not be refunded. Cancellation fees will apply.
                                                </p>
                                                <p>
                                                    - For standard tickets, 20% of the ticket fare + 50,000 VND per ticket
                                                    <br> - For the route Hanoi - Lao Cai and tickets on public holidays, 50% of the ticket fare + 50,000 VND per ticket
                                                    <br> - For promotion tickets, the amount is subject to the railway authority + 50,000 VND per ticket
                                                </p>
    
                                                <br>
                                                <p></p>
    
                                                <div style="text-transform: uppercase;" class="bold gap-mini">Refunds</div>
    
                                                <p>In case of refund due to cancellation of the transport service by decision of the Passenger Carrier, you are entitled to receive the amount corresponding to the ticket price. Service fees will not be refunded, as the ticketing service is provided separated from the transportation service.</p>
    
                                                <p>In case you booked through our website, any partial or total refund will be processed by our accounting department in a period no longer than 15 days, after which you will be notified by email, and the amount refunded should be received in 30-45 days afterwards (depending on the card issuer bank).</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>5. Protection of Personal Information</h3>
                                                <div class="gap-title"></div>
                                                <p>Our <a href="https://booking.baolau.com/en/legal/#privacy-policy" class="external_link" target="_blank">Privacy Policy</a> explains the terms of how Baolau protects the privacy of personal information.</p>
                                                <p>The use of this website constitutes the agreement to the Privacy Policy.</p>
                                                <p>Your personal information submitted to this website will be used in accordance with our Privacy Policy and as required by law.</p>
                                                <p>For more information, please read our statement, which can be found at <a href="https://booking.baolau.com/en/legal/#privacy-policy" class="external_link" target="_blank"> https://www.baolau.com/privacy-policy.</a></p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>6. Rights and Obligations</h3>
                                                <div class="gap-title"></div>
                                                <p>Baolau is obliged to obtain all the information in this website, including schedule and pricing information, from trusted public domain sources associated to the Passenger Carriers and we are committed to put all our effort to ensure that all the information is complete, precise and updated but since it is supplied by a thirt party ultimately we cannot provide any warranty for its accuracy and reliability.</p>
                                                <p>Baolau is responsible for connecting you with the reservation system of the Passenger Carrier whenever you select an itinerary and you want to make a reservation of any of the transport services included in the itinerary. In case you arrange a booking as a result of your use of this website, Baolau shall support and cooperate with you and the Passenger Carrier to solve any problem occurred during the reservation process.</p>
                                                <p>In case you provide us with any personal information to perform a booking on your behalf, we are obliged to obtain consent and permission from you. Also, we are obliged to collect, manage and store the data according to our Privacy Policy and in compliance with the relevant Terms of Use and Privacy Policy of the Passenger Carriers that will process your booking.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>7. No Warranties and Limitation of Liability</h3>
                                                <div class="gap-title"></div>
                                                <p>The information on this website is provided AS IS without any warranty of any kind, expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement of intellectual property rights.</p>
                                                <p>The text and contents of this website are displayed for informational purposes only, and no warranty is made that the information is error-free, accurate or up-to-date. You understand and you agree that the information of schedules and prices for the transport services is volatile information and it is subject to change any time and without notice, and that the information is supplied by the Passenger Carriers and these third parties are ultimately responsible for any change with no warranty or responsibility of Baolau to control and inform about any of these changes.</p>
                                                <p>Under no circumstances will Baolau be liable for any User Content made available on a third party website, including Facebook or another social media website.</p>
                                                <p>By accessing this website you agree that Baolau and its representatives will not be responsible or liable for any claim, damage, loss or other liability arising from:</p>
                                                <p>
                                                    (1) The use or misuse of information on this website
                                                </p>
                                                <p>
                                                    (2) The disruption or termination of the normal operations of this website, or the inability to use this website or any content contained in it
                                                </p>
                                                <p>
                                                    (3) The access to information or the processing of merchant transactions on external sites linked to this website, including but not limited to:
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> the inability to process the booking due to technical reasons
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> the denial of any particular form of payment by us or the Passenger Carrier during the completion of the booking
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> the cancellation of the booking due to expiration of the payment deadline specified by us or the Passenger Carrier
                                                </p>
    
                                                <p>
                                                    (4) The accuracy of the schedules and fares of the transport services announced on this website, including but not limited to:
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> any difference in the price of the ticket during the completion of the booking
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> any change or delay in the schedule of departure or arrival after the booking has been confirmed by the Passenger Carrier
                                                </p>
    
                                                <p>
                                                    (5) The performance of the transport service provided by the Passenger Carrier, including but not limited to:
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> any overbooking of passengers or the refusal to check in or board the vessel for any reason included in the conditions of carriage of the Passenger Carrier
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> the cancellation, alteration, interruption, rerouting or delay of the transport service by decision of the Passenger Carrier or due to the weather conditions, union strikes, air traffic control delays or an event of force majeure
                                                </p>
                                                <p>
                                                    <i style="padding-left: 60px;" class="highlight-point fa fa-angle-right"></i> the refusal to carry your baggage for any reason included in the conditions of carriage of the Passenger Carrier, or the loss or damage of your baggage
                                                </p>
    
                                                <p>You understand and agree that if you encounter any problems with the performance of the transport service you must resolve your dispute with the Passenger Carrier and that your sole remedy in such circumstances, including any compensation or refund, lies with the Passenger Carrier and not with Baolau.</p>
                                                <p>All above exclusions and limitations apply only to the extent permitted by law.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>8. Intellectual Property</h3>
                                                <div class="gap-title"></div>
                                                <p>You may use this website only for personal and non-commercial purposes.</p>
                                                <p>You may not use, copy, modify, reproduce or distribute the content on this website to any third party by any means, or create any other material using the content on this website, without obtaining the prior written consent of Baolau.</p>
                                                <p>All images, trademarks and brands displayed on this website, whether registered or unregistered, are owned by Baolau and may not be used, copied, distributed or modified in any way without prior written permission of Baolau, except the images and trademarks associated to the Passenger Carriers appearing in this website, in which case the copyright and intellectual property of the information belongs to its rightful owners.</p>
                                                <p>We respect the intellectual property rights of others. If you have reasons to believe that your copyright is being infringed by any content on this website, please contact us through the contact form or send a written notification of such infringement to our company address.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>9. Links to External Sites</h3>
                                                <div class="gap-title"></div>
                                                <p>This website contains links to external sites owned by Passenger Carriers and other third parties.</p>
                                                <p>Baolau does not provide any warranty neither does it accept any liability for the materials contained on external sites, nor is it not obligated to maintain or update the links.</p>
                                                <p>Please, use these links at your own risk.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>10. Links from External Sites</h3>
                                                <div class="gap-title"></div>
                                                <p>
                                                    Hyperlinks (or links) to this website are permitted to third party external sites. However, external sites are not allowed to embed any frame with the exception of our "Widget" located under <a href="https://www.baolau.com/widget" class="external_link" target="_blank">https://www.baolau.com/widget</a> or reproduce any partial or whole material from this website or use any technique that modifies the visual appearance of this website without written permission of Baolau.
                                                </p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>11. Termination</h3>
                                                <div class="gap-title"></div>
                                                <p>Baolau reserves the right to terminate access to this website for any reason and without prior notice, without incurring any liability to you whatsoever.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>12. Complaint</h3>
                                                <div class="gap-title"></div>
                                                <p>As a user, you have the right to complain about the quality of the online service provided by Baolau.</p>
                                                <p>If you have reasons to complain about the service or content provided in this website, please contact us through the contact form or send a written complaint to our company address.</p>
                                                <p>After we receive the complaint, Baolau will conduct a verification and answer you or request further information in order to solve your complaint within 30 days.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>13. Jurisdiction</h3>
                                                <div class="gap-title"></div>
                                                <p>The governing law to these Terms of Use and conditions shall be the law of Singapore.</p>
                                                <p>Any dispute shall be subject to the exclusive jurisdiction of the competent courts of the Republic of Singapore.</p>
                                            </div>
                                            <!-- End panel-content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap gap-mini"></div>
                            <div class="panel-light">
                                <div class="padded-heading">
                                    <div class="checkbox inline">
                                        <input id="check-confirm-termofuse" class="payment_checkbox" type="checkbox" name="check-confirm-termofuse" value="check-confirm-termofuse">
                                        <label class="inline" for="check-confirm-termofuse">I confirm that I have read and accept the <a href="https://booking.baolau.com/en/legal/#terms-of-use" class="external_link bold" target="_blank">Terms of Use</a> and understand the <a href="https://booking.baolau.com/en/legal/#privacy-policy" class="external_link bold" target="_blank">Privacy Policy</a> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="gap gap-mini"></div>
                    <div class="panel-light">
                        <div class="padded-heading">
                            <div class="checkbox inline">
                                <input id="check-confirm-cancellation" class="payment_checkbox" type="checkbox" name="check-confirm-cancellation">
                                <label class="inline" for="check-confirm-cancellation">I confirm that the information I provide is correct and I understand that once the booking request is submitted any change or cancellation may incur additional fees</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="gap gap-small"></div>
    
                    <input type="hidden" name="submitting" value="submitting">
    
                    <a id="submit_payment" class="btn green full-width" style="cursor: pointer;" v-on:click="Redirect()">Proceed to payment</a>
    
                    <input type="hidden" name="stripeSource" value="">
    
                    <div class="gap gap-footer"></div>
                </form>
            </div>
        </div>
    </div>         
</div>

<!-- FOOTER -->
<%- include('footer')%>
<!-- END FOOTER -->

</div>
<!-- END GLOBAL WRAP -->

</div>
<!-- END FILTER -->

</div>
<!-- END MAIN -->



<!-- WINDOW POPUP -->

<!-- Modals-->


<!-- END WINDOW POPUP -->

    <%- include('scriptCommon',{page: 4})%>
</body>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:32:07 GMT -->
</html>