
    
    <td colspan="7" style="padding-top: 0px; padding-bottom: 0px; width: 161px;">
        <div class="route_details" style="display: block;" data-transport="vr" data-vessel="<%=train[0].Name%>">
            <!-- Details Desktop -->
            <div style="color: #7a8085;" class="hidden-sm hidden-xs">
                <table style="width:100%; padding:0;">
                    <!-- Origin -->
                    <tbody>
                        <tr style="border:none">
                            <td style="width: 161px; height: 94px;">&nbsp;</td>

                            <td class="text-right" style="width: 190px;">
                                <span class="blue-text super-bold"><%=moment(result[0].TimeDeparture).format('LT')%></span>
                                <p><%=moment(result[0].DateDeparture).format('DD-MM-YYYY')%></p>
                            </td>

                            <td class="relative text-center" style="width: 163px;">
                                <div class="searchresult-timeline">
                                    <i class="icon-line-point inline line-bottom"></i>
                                </div>
                            </td>

                            <td colspan="2" class="padded-left" style="width: 542px;">
                                <!-- style="border-right:1px solid #ddd;" -->
                                <h4 class="station-text bold">
                                                <%=departureStation[0].Name%>                       
                                </h4>
                                <!-- <span>120 Lê Duẩn, Quận Hoàn Kiếm, Hà Nội</span> -->
                            </td>
                            <td colspan="2" rowspan="3" style="padding: 20px; width: 381px;">
                                <div class="fares">
                                    
                                </div>
                            </td>
                            <!-- Fares -->
                            <td colspan="2" rowspan="3" style="padding: 20px; width: 583px;">
                                <div class="fares">
                                    <div class="desktop-fares">
                                        <%var index = 0%>
                                        <%result[0].ScheduleDetails[0].TableCosts.forEach(function(cost){%>
                                            <div class="relative fares-choose-items" >
                                                <div class="fares-choose radio">
                                                    <%if(index == 0){%>
                                                        <input type="radio" id="cost_fare<%=index%>"
                                                        name="cost" 
                                                        class="fare_radio"
                                                        value="<%=cost.Cost%>"  checked>
                                                        <label for="cost_fare<%=index%>" onclick="changeHref('<%=SCHEDULEDETAILID%>', '<%=cost.SeatTypeID%>')"></label>
                                                    <%}else {%>
                                                        <input type="radio" id="cost_fare<%=index%>"
                                                        name="cost" 
                                                        class="fare_radio"
                                                        value="<%=cost.Cost%>"  
                                                        >
                                                        <label for="cost_fare<%=index%>" onclick="changeHref('<%=SCHEDULEDETAILID%>', '<%=cost.SeatTypeID%>')"></label>
                                                    <%}%>
                                                    <%index++%>
                                                    
                                                </div>

                                                <label class="fares-description">
                                                <p><%=dic.get(cost.SeatTypeID)%></p>
                                                <span class="yellow-text js-fare_price money">
                                                    <%=JSON.stringify(cost.Cost).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%>&nbsp;VND
                                                </span>                                               
                                                </label>

                                                </div>
                                                
                                        <%});%>
                                     
                                    </div>

                                </div>
                            </td>
                        </tr>

                        <!-- Vessel -->
                        <tr style="border:none">
                            <td style="text-align: center; width: 161px; height: 94px;">
                                <img class="searchresult-logo" src="https://booking.baolau.com/images/logos/transports/logo-vr.png">
                                <div style="font-size: 13px"><%=train[0].Name%></div>
                            </td>
                            <td class="text-right" style="width: 190px;">
                                <span>
                                                <span class="bold">31h 30m</span>
                                </span>
                            </td>
                            <td class="text-center" style="width: 163px;">
                                <div class="searchresult-timeline">
                                    <i class="icon-train inline"></i> </div>
                            </td>
                            <td colspan="2" class="padded-left" style="width: 542px;">
                                <!-- style="border-right:1px solid #ddd; overflow:hidden"-->
                                <!--<div class="side_point">
                                                <span class="side_line">-->
                                <span class="bold">Vietnam Railways</span> <%=train[0].Name%>
                                <!--</span>
                                        </div>-->
                            </td>
                        </tr>

                        <!--  Destination -->
                        <tr style="border:none">
                            <td style="width: 161px; height: 94px;"></td>
                            <td class="text-right" style="width: 190px;">
                                <span class="blue-text super-bold">05:45</span>
                                <p>T7, 28/03</p>
                            </td>
                            <td class="relative text-center" style="width: 163px;">
                                <div class="searchresult-timeline">
                                    <i class="icon-line-point inline line-top"></i>
                                </div>
                            </td>
                            <td colspan="2" class="padded-left" style="width: 542px;">
                                <h4 class="station-text bold">
                                                <%=arrivalStation[0].Name%>                                           
                                </h4>
                                <!-- <span>01 Nguyễn Thông, Phường 9, Quận 3, Thành phố Hồ Chí Minh</span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end Details -->
            </div>
            <!-- End Desktop details -->

            <!-- Mobile details -->
            <div class="mobile-result-content visible-xs visible-sm">
                <div>
                    <!-- Origin -->
                    <div class="col-xs-4">
                        <h4 class="station-text bold">HÀ NỘI</h4>

                        <span class="popover-address origin-address" data-container="body" data-placement="auto" data-trigger="click focus" data-content="120 Lê Duẩn, Quận Hoàn Kiếm, Hà Nội" style="text-decoration: underline" data-original-title="" title="">
                                                    Ga Hà Nội                                                </span>
                    </div>

                    <div class="col-xs-4 text-center">
                        <img class="searchresult-logo" src="https://booking.baolau.com/images/logos/transports/logo-vr.png">
                        <div style="font-size: 13px">SE1</div>
                    </div>

                    <div class="col-xs-4 text-right">
                        <h4 class="station-text bold">HỒ CHÍ MINH</h4>

                        <span class="popover-address destination-address" data-container="body" data-placement="auto" data-trigger="click focus" data-content="01 Nguyễn Thông, Phường 9, Quận 3, Thành phố Hồ Chí Minh" style="text-decoration: underline" data-original-title="" title="">
                                                    Ga Sài Gòn                                                </span>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class=" searchresult-timeline">
                    <div class="col-xs-4 relative">
                        <i class="icon-line-point inline line-right"></i>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="icon-train inline"></i> </div>
                    <div class="col-xs-4 text-right relative">
                        <i class="icon-line-point inline line-left"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div>
                    <div class="col-xs-4">
                        <span class="blue-text big-text bold">22:15</span>
                        <p>T5, 26/03</p>
                    </div>

                    <div style="margin-top: 10px" class="col-xs-4 text-center">
                        <span class="small-text">31h 30m</span>
                    </div>

                    <div class="col-xs-4 text-right">
                        <span class="blue-text big-text bold">05:45</span>
                        <p>T7, 28/03</p>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <!-- Mobile Fares -->
                <div class="col-xs-12 gap-small">
                    <section class="scrolling-section">
                        <div class="fare-content horizontal-items" style="width:516px">
                            <div class="fares fare-type-items" data-route="66890155">
                                <label class="mobile-fare" for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_NML56">
                                    <div class="fare-type-title">
                                        <span>Ngồi mềm</span>
                                    </div>
                                    <div class="mobile-fare-choose relative ">
                                        <div class="radio">
                                            <input id="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_NML56" type="radio" name="mobile_fares_1f38e1631532974a701fa783bcb1c1cc_66890155" class="fare_radio" data-fare="NML56" data-price="995000" data-label="Ngồi mềm" data-has_promotion="0" data-basefare="995000" checked="">

                                            <label for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_NML56"></label>
                                        </div>
                                        <div style="padding-bottom: 20px;">
                                            <span class="yellow-text js-fare_price bold money" data-amount="995000" data-currency="VND">995,000&nbsp;đ</span>
                                        </div>
                                        <div style="padding-bottom: 10px; text-decoration: underline;" class="fare-info-button blue-text" data-origin_country_code="VN" data-destination_country_code="VN" data-transport="vr" data-alert="eyJvcmlnaW5faWQiOiIyODEiLCJkZXN0aW5hdGlvbl9pZCI6IjMyNCIsInRyYXZlbF9kYXRlIjoiMjAyMC0wMy0yNiIsInRyYW5zcG9ydF9jb2RlIjoidnIiLCJ2ZXNzZWwiOiJTRTEifQ==" data-fare="NML56" data-status="1"><i style="margin-right: 8px" class="fa-info-circle" aria-hidden="true"></i>Điều kiện giá vé</div>
                                    </div>
                                </label>
                                <label class="mobile-fare" for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_BnL">
                                    <div class="fare-type-title">
                                        <span>Nằm khoang 6</span>
                                    </div>
                                    <div class="mobile-fare-choose relative ">
                                        <div class="radio">
                                            <input id="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_BnL" type="radio" name="mobile_fares_1f38e1631532974a701fa783bcb1c1cc_66890155" class="fare_radio" data-fare="BnL" data-price="1356000" data-label="Nằm khoang 6" data-has_promotion="0">

                                            <label for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_BnL"></label>
                                        </div>
                                        <div style="padding-bottom: 20px;">
                                            <span class="yellow-text js-fare_price bold money" data-amount="1356000" data-currency="VND">1,356,000&nbsp;đ</span>
                                        </div>
                                        <div style="padding-bottom: 10px; text-decoration: underline;" class="fare-info-button blue-text" data-origin_country_code="VN" data-destination_country_code="VN" data-transport="vr" data-alert="eyJvcmlnaW5faWQiOiIyODEiLCJkZXN0aW5hdGlvbl9pZCI6IjMyNCIsInRyYXZlbF9kYXRlIjoiMjAyMC0wMy0yNiIsInRyYW5zcG9ydF9jb2RlIjoidnIiLCJ2ZXNzZWwiOiJTRTEifQ==" data-fare="BnL" data-status="1"><i style="margin-right: 8px" class="fa-info-circle" aria-hidden="true"></i>Điều kiện giá vé</div>
                                    </div>
                                </label>
                                <label class="mobile-fare" for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_AnL">
                                    <div class="fare-type-title">
                                        <span>Nằm khoang 4</span>
                                    </div>
                                    <div class="mobile-fare-choose relative ">
                                        <div class="radio">
                                            <input id="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_AnL" type="radio" name="mobile_fares_1f38e1631532974a701fa783bcb1c1cc_66890155" class="fare_radio" data-fare="AnL" data-price="1506000" data-label="Nằm khoang 4" data-has_promotion="0">

                                            <label for="mobile_fare_1f38e1631532974a701fa783bcb1c1cc_66890155_AnL"></label>
                                        </div>
                                        <div style="padding-bottom: 20px;">
                                            <span class="yellow-text js-fare_price bold money" data-amount="1506000" data-currency="VND">1,506,000&nbsp;đ</span>
                                        </div>
                                        <div style="padding-bottom: 10px; text-decoration: underline;" class="fare-info-button blue-text" data-origin_country_code="VN" data-destination_country_code="VN" data-transport="vr" data-alert="eyJvcmlnaW5faWQiOiIyODEiLCJkZXN0aW5hdGlvbl9pZCI6IjMyNCIsInRyYXZlbF9kYXRlIjoiMjAyMC0wMy0yNiIsInRyYW5zcG9ydF9jb2RlIjoidnIiLCJ2ZXNzZWwiOiJTRTEifQ==" data-fare="AnL" data-status="1"><i style="margin-right: 8px" class="fa-info-circle" aria-hidden="true"></i>Điều kiện giá vé</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- end mobile fares -->
            </div>
            <!-- END mobile-result-content-->

        </div>
        <!-- route_details-->

        <div class="clearfix"></div>

        <!-- <div class="gap gap-small hidden-sm hidden-xs"></div> -->
        <div style="padding:0px 15px;" class="searchresult-button">
            <a class="btn full-width btn-select green" 
            href="/passenger?ONE_WAY=<%=ONE_WAY%>&PASSENGERS=<%=PASSENGERS%>&SCHEDULEID=<%=SCHEDULEID%>&TRAINID=<%=TrainID%>&SCHEDULEDETAILID=<%=SCHEDULEDETAILID%>&costID=<%=result[0].ScheduleDetails[0].TableCosts[0].SeatTypeID%>"
            target="_self" 
            id="bookLink<%=SCHEDULEDETAILID%>"
            data-href="/passenger?ONE_WAY=<%=ONE_WAY%>&PASSENGERS=<%=PASSENGERS%>&SCHEDULEID=<%=SCHEDULEID%>&TRAINID=<%=TrainID%>&SCHEDULEDETAILID=<%=SCHEDULEDETAILID%>">
                <span class="bold">ĐẶT VÉ TRỰC TUYẾN</span>
            </a>
            
        </div>

        <div class="gap gap-mini"></div>

    </td>